@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

#next_piece {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}